flask
flask-sqlalchemy
flask-migrate
flask-session
flask-mail
flask-socketio
flask-bcrypt
flask-limiter
flask-caching
python-dotenv
itsdangerous
scikit-learn
numpy
Pillow
gunicorn
eventlet
sqlalchemy
